<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Foodpicker{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>FP</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <style>

        </style>
    </head>
    <body>
    <nav>
        <a class="nav-button" href="/">
            FOODPICKER
        </a>

        <a  class="btn btn-primary nav-button"  href="{{ path('orders') }}">Orders</a>
        <a  class="btn btn-primary nav-button" href="{{ path('restaurants') }}">Restaurants</a>

    </nav>
    <main>
            {% block body %}
            {% endblock %}
    </main>
    </body>
</html>
